main {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #181818;
  background-color: transparent;
  color: #fff;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #26e02e;
  background-color: #26e02e;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.error {
  color: #e02626;
}

.success {
  color: #26e02e;
}
